@model Models.User

<div class="row">
    <div class="col-md-4">

        @using (Html.BeginForm())
        {
            if(Model.Id == 0)
            {
            <div class="form-group">
                @Html.LabelFor(x => x.Username)
                <br />
                @Html.EditorFor(x => x.Username)
                @Html.ValidationMessageFor(x => x.Username)
            </div>
            }

            <div class="form-group">
                @Html.LabelFor(x => x.Password)
                <br />
                @Html.PasswordFor(x => x.Password)
                <span asp-validation-for="Password" class="text-danger"/>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Role)
                <br />
                @Html.EditorFor(x => x.Role)
                @Html.ValidationMessageFor(x => x.Role)
            </div>

            <div>
                @Html.HiddenFor(x => x.Id)
                <input type="submit"/>
            </div>
        }

        @Html.ValidationSummary()
    </div>
</div>
