@model Models.User

@inject IViewLocalizer ViewLocalizer

<div>
    <table class="table">
        <thead>
            <tr>
                <partial name="_UserHeader" />
            </tr>
        </thead>
        <tbody>
                <tr>
                    <partial name="_UserBody" for="@Model"/>
                </tr>
        </tbody>
    </table>
</div>

<div>

    <form asp-controller="Users" asp-action="DeleteUser" asp-antiforgery="true">
        <input type="hidden" asp-for="@Model.Id"/>
        <input type="submit" value="@StringLocalizer["Delete"]" class="btn btn-default" />
        <a asp-action="Index">@StringLocalizer["Cancel"]</a>
    </form>

    @using (Html.BeginForm("DeleteUser", "Users"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Id)
        <input type="submit" value="@StringLocalizer["Delete"]" class="btn"/>
        @Html.ActionLink(StringLocalizer["Cancel"], "Index")
        }

</div>