@using Models
@model IEnumerable<User>

@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Program> StringLocalizer

@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Program> HtmlLocalizer

@inject IViewLocalizer ViewLocalizer



@{
    ViewBag.Title = "Users";
}

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName(StringLocalizer[nameof(Models.User.Id)])
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @ViewLocalizer[nameof(Models.User.Password)]
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(_ => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(_ => item.Username)
                    </td>
                    <td>
                        @item.Password
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>