@using Models
@model IEnumerable<User>


@{
    ViewBag.Title = "Users";

    var rolesSearchList = Enum.GetValues<Roles>().Select(x => new SelectListItem(StringLocalizer[x.ToString()], x.ToString())).ToList() ;
    rolesSearchList.Add(new SelectListItem(string.Empty, string.Empty));

}

@HtmlLocalizer["<h2><u>Users</u></h2>"]

<div>

    <form asp-controller="Users" asp-action="Search" asp-antiforgery="true">

    @*@using (@Html.BeginForm("Search", "Users"))
    {
        @Html.AntiForgeryToken()*@

        @StringLocalizer[nameof(Models.User.Username)] @Html.TextBox("username")<br>
        @StringLocalizer[nameof(Models.User.Role)] @Html.DropDownList("roles", rolesSearchList)<br>
        <input type="submit" value="@StringLocalizer["Search"]" @*asp-action="Search"*@/>
    @*}*@

    </form>
    </div>

<div>
    <table class="table">
        <thead>
            <tr>
                <partial name="_UserHeader" model="new Models.User()"/>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <partial name="_UserBody" for="@item" />
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">@StringLocalizer["Delete"]</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>